.App {
  text-align: left;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 3.5rem;
  pointer-events: none;
}

.Menu-logo {
  height: 1rem;
  pointer-events: none;
}

.App-header {
  margin: 30px;
  padding: 30px 80px;
  background-color: #1F2535;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: left;
  font-size: 1.6rem;
  color: white;
}

.App-header > h1 {
  margin-top: 100px;
  font-size: 5rem;
}

p {
  margin-left: 1%;
  font-size: 20px;
  font-weight:normal;
}

.App-link {
  margin-top: 30px;
  display: inline;
  margin-bottom: 7%;
}

.botao{
  border: 1px solid white;
  padding: 1%;
  border-radius: 3px;

}

.space-li{
  margin-top: 15%;
  margin-bottom: 20%;
}

.icon {
  padding-bottom: 22px;
}

.li {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  }
